project_id           = "nishtha-portfolio-123456"
region               = "us-central1"
zone                 = "us-central1-a"
credentials_file     = "~/.gcp/terraform-portfolio-key.json"
ssh_public_key_path  = "~/.ssh/oci_portfolio_vm.pub"
admin_ssh_cidr       = "203.0.113.5/32"
